# ignore files and directories related to AI agents
/.claude
/.agents
/.codex
AGENTS.md
CLAUDE.md
/prompts
Aristotle-*
*aristotle*

# Ignore virtual environment and other files
.env
/.venv
main.py
/.vscode
.DS_Store
/PDFs
*.backup

# Ignore python environment files that's used to run Aristotle 
pyproject.toml
uv.lock
.python-version


# Ignore Lean build files
/.lake